body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}

.online-players {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

/* Medium devices (tablets, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 36px;
    padding-top: 50px;
  }

  .footer-text {
    font-size: 16px;
  }

  .online-players {
    font-size: 16px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 48px;
  }

  .footer-text {
    font-size: 18px;
  }

  .online-players {
    font-size: 18px;
    left: auto;
    right: 5%;
  }
}
