* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/Background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    width: 100%;
    text-align: center;
    position: relative;
    top: -25%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 80vh;
    border-radius: 5px;
}

.title {
    font-size: 48px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    text-align: center;
}

.footer-text {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.footer-text a {
    color: #ffffff;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

.online-players {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.7); /* Add this line for the black transparent box */
    padding: 20px; /* Add this line for padding inside the box */
    border-radius: 5px; /* Add this line for rounded corners */
}

.player-list {
    list-style-type: none;
    padding: 0;
}
